name: ci

on:
  push:
    branches: [ "master", "develop" ]

env:
  SOLUTION_NAME: BaccoApp.UserManagement
  PROJECT_NAME: baccoapp-user-management
  ORGANIZATION_SONARCLOUD: baccoapp

jobs:
  sonarcloud:
    uses: ./.github/workflows/sonar-cloud-job.yml
    with:
      project: ${{ env.PROJECT_NAME }}
      organization: ${{ env.ORGANIZATION_SONARCLOUD }}
      solution_name: ${{ env.SOLUTION_NAME }}
    secrets: 
      token: ${{ secrets.SONAR_TOKEN }}

  build:
    uses: ./.github/workflows/build-push-gcr-job.yml
    needs: [sonarcloud]
    with:
      project: ${{ env.PROJECT_NAME }}
    secrets: 
      gcloud_service_key: ${{ secrets.GCLOUD_SERVICE_KEY }}
    
